<div local-class="c-notification__icon">
  {{icon notificationIcon}}
</div>
<div local-class="c-notification__content">
  {{#if notification.htmlContent}}
    {{{notification.message}}}
  {{else}}
    {{notification.message}}
  {{/if}}
  <div local-class="c-notification__close" title="Dismiss this notification" {{action "removeNotification"}}>
    {{icon close-icon}}
  </div>
</div>
{{#if notification.autoClear}}
  <div class="c-notification__countdown" style={{notificationClearDuration}}></div>
{{/if}}